.services{
    background-color: #1e1919;
    color: aliceblue;
    font-family: 'Molengo', sans-serif;
    font-family: 'Quicksand', sans-serif;
    max-width: 100%;
}

.holding-container{
    display: flex;
    justify-content: space-between;
}

.services0{
    width: 25%;
    margin: 0px 30px;
    padding: 30px;
}

.services h2{
    text-align: center;
    padding-top: 40px;
}

.p1{
    font-weight: bolder;
}