.container{
    text-align: center;
    width: 80%;
    background-color: dodgerblue;
    margin: auto;
    padding-top: 50px;
    font-size: 15px;
    color: aliceblue;
    height: 130vh;
}

/* CSS for Home button starts here */

.home-button{
    font-size: larger;
    cursor: pointer;
}

.home-button:hover{
    transform: scale(1.5);
}

/* CSS for Home button ends here */

/* Create account CSS starts here */

.container h1{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;

}

/* Create account CSS ends here */

/* Sign up with social media CSS starts here */
.container p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;

}

/* Sign up with social media CSS ends here */

/* Social buttons CSS start here */

.social{
   margin: 50px;
}

.social a{
    margin: 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
 }

/* Facebook button CSS code Starts here */

 .social a:nth-child(1){
    color: aliceblue;
    background-color: #3b5998;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
 }

.facebook{
    padding: 5px;
 }

  /* Facebook button CSS code ends here */

 /* Twitter button CSS code starts here */

 .social a:nth-child(2){
    color: aliceblue;
    background-color: #26A7de;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
 }

 .twitter{
    padding: 5px;
 }

/* Twitter button CSS code ends here */

/* Google button CSS code starts here */

.social a:nth-child(3){
    color: aliceblue;
    background-color: #EA4335;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
 }
 .google{
    padding: 5px;
 }

 /* Google button CSS code ends here */

 /* Divider CSS code starts here */

 .line{
    display: flex;
    align-items: center;
    margin: 30px;
 }

 .line::before, .line::after{
    content: "";
    padding: 1px;
    background-color: lightgray;
    margin: 10px 30px;
    flex: 1;
 }

 .line-bg{
    font-size: 20px;
    background-color: dodgerblue;
    padding: 15px 15px;
    border-radius: 100%;
 }

/* Divider CSS code ends here */

/* Email Input CSS code starts here */

input[type="email"]{
    width: 40%;
    padding: 15px;
    background-color: rgb(243, 240, 240);
    border-radius: 25px;
    border: 1px solid lightslategray;
    text-indent: 20px;
}

input[type="email"]:focus{
    outline: none;
    border: none;
    color: gray;
    font-size: 15px;
}
/* Email Input CSS code ends here */

/* Username Input CSS code starts here */

input[type="text"]{
    width: 40%;
    padding: 15px;
    background-color: rgb(243, 240, 240);
    border-radius: 25px;
    border: 1px solid lightslategray;
    text-indent: 20px;
}

input[type="text"]:focus{
    outline: none;
    border: none;
    color: gray;
    font-size: 15px;
}

/* Username Input CSS code ends here */

/* Telephone# CSS code starts here */

input[type="tel"]{
    width: 40%;
    padding: 15px;
    background-color: rgb(243, 240, 240);
    border-radius: 25px;
    border: 1px solid lightslategray;
    text-indent: 20px;
}

input[type="tel"]:focus{
    outline: none;
    border: none;
    color: gray;
    font-size: 15px;

}

/* Telephone# CSS code ends here */

/* Password CSS code starts here */

input[type="password"]{
    width: 40%;
    padding: 15px;
    background-color: rgb(243, 240, 240);
    border-radius: 25px;
    border: 1px solid lightslategray;
    text-indent: 10px;

}

input[type="password"]:focus{
    outline: none;
    border: none;
    color: gray;

}

/* password CSS code ends here */

/* Button CSS code starts here */

input[type="button"]{
    width: 15%;
    cursor: pointer;
}

.btn{
    padding: 15px;
    background-color: #008000;
    border-radius: 25px;
    border: 1px #008000 solid;
    color: aliceblue;
    font-size: 16px;
}

/* Button CSS code ends here */

.form-class{
    margin-top: 20px;
    position: relative;
}

/* Icon alignment CSS Code stats here */

.email{
    position: absolute;
    left: 30%;
    color: dodgerblue;
    top: 35%;
}

.mobile{
    position: absolute;
    left: 30%;
    color: dodgerblue;
    top: 35%;
}

.user{
    position: absolute;
    left: 30%;
    color: dodgerblue;
    top: 35%;
}

/* ::placeholder{

    padding-left: 10px;
    text-indent: 10px;

} */


@media only screen and (max-width:757px) {

    .container{
        width: 100%;
    }

    .social a{
        margin: 20px;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    input[type="email"]{
        width: 60%;
    }

    input[type="text"]{
        width: 60%;
    }

    input[type="user"]{
        width: 60%;
    }

    input[type="tel"]{
        width: 60%;
    }

    input[type="password"]{
        width: 60%;
    }

    input[type="button"]{
        width: 30%;
    }
    
    .btn{
        padding: 15px;
        font-size: 13px;
    }

/* Create account CSS starts here */

.container h1{
    font-size: 30px;
    font-weight: bolder;
}

/* Create account CSS ends here */

/* Sign up with social media CSS starts here */
.container p{
    font-size: 15px;
    font-weight: bolder;
}

/* Sign up with social media CSS ends here */

/* CSS icon placement starts here */

.email{
    position: absolute;
    left: 20%;
}

.mobile{
    position: absolute;
    left: 20%;
}

.user{
    position: absolute;
    left: 20%;
}

.social a{
    margin: 15px;
    
}

/* Facebook button CSS code Starts here */

.social a:nth-child(1){
    font-size: 13px;
    padding: 5px 10px;
}

.facebook{
    padding: 3px;
}

  /* Facebook button CSS code ends here */

 /* Twitter button CSS code starts here */

 .social a:nth-child(2){
    font-size: 13px;
    padding: 5px 10px;
}

 .twitter{
    padding: 3px;
}

/* Twitter button CSS code ends here */

/* Google button CSS code starts here */

.social a:nth-child(3){
    font-size: 13px;
    padding: 5px 10px;
}
 .google{
    padding: 3px;
}

 /* Google button CSS code ends here */

}

@media only screen and (max-width:611px) {

    .container{
        width: 100%;

    }

    .social a{
        margin: 10px;

    }
    input[type="email"]{
        width: 50%;
    }

    input[type="text"]{
        width: 50%;
    }
    
    input[type="user"]{
        width: 50%;
    }

    input[type="tel"]{
        width: 50%;
    }

    input[type="password"]{
        width: 50%;
    }

    input[type="button"]{

        width: 30%;
    }
    
    .btn{
        padding: 15px;
        font-size: 13px;
    
    }

    /* Create account CSS starts here */

.container h1{
    font-size: 27px;
    font-weight: bolder;
}

/* Create account CSS ends here */

/* Sign up with social media CSS starts here */
.container p{
    font-size: 13px;
    font-weight: bolder;
}

/* Sign up with social media CSS ends here */

/* CSS icon placement starts here */

.email{
    position: absolute;
    left: 25%;
}

.mobile{
    position: absolute;
    left: 25%;
}

.user{
    position: absolute;
    left: 25%;
}

.social a{
    margin: 10px;
    
 }
}

@media only screen and (max-width:549px) {

    .container{

        width: 100%;

    }

    .social a{

        margin: 10px;

     }
    
    input[type="email"]{
        width: 50%;
    }

    input[type="text"]{
        width: 50%;
    }

    input[type="user"]{
        width: 50%;
    }

    input[type="tel"]{
        width: 50%;
    }

    input[type="password"]{
        width: 50%;
    }

    input[type="button"]{
        width: 30%;
    }
    
    .btn{
        padding: 15px;
        font-size: 13px;
    
    }

/* CSS icon placement starts here */

.email{
    position: absolute;
    left: 25%;
}

.mobile{
    position: absolute;
    left: 25%;
}

.user{
    position: absolute;
    left: 25%;
}

.social a{
    margin: 10px;
    
 }

}

@media only screen and (max-width:400px) {

    .container{
        width: 100%;

    }

    .social a{
        margin: 10px;

     }
    
    input[type="email"]{
        width: 50%;
    }

    input[type="text"]{
        width: 50%;
    }

    input[type="user"]{
        width: 50%;
    }

    input[type="tel"]{
        width: 50%;
    }

    input[type="password"]{
        width: 50%;
    }

    input[type="button"]{
        width: 30%;
    }
    
    .btn{
        padding: 15px;
        font-size: 13px;
    
    }

/* CSS icon placement starts here */

.email{
    position: absolute;
    left: 25%;
}

.mobile{
    position: absolute;
    left: 25%;
}

.user{
    position: absolute;
    left: 25%;
}

.social a{
    margin: 5px;
    
 }

}